.container-card-titre {
    background-color: black;
    clip-path: polygon(0 11%, 100% 0, 100% 100%, 49% 95%, 0 100%); 
    padding: 200px 0px;
    margin-bottom: -150px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.card-container {

    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
  
    .card {
        position: relative;
        width: 29vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(16, 37, 37);
        padding: 30px;
        border-radius: 20px;
        gap: 10px;
        transition: transform 0.1s ease-in-out, background-color 1s ease-out, opacity  1s ease-out;
        box-shadow: 1px 0px 25px  rgb(16, 37, 37);
        opacity: 0;
        transform: translateY(10vw);

        &:hover{
            
        box-shadow: 1px 0px 25px  rgb(16, 37, 60);
          transform: translate(0,-5px);
          background-color: rgb(16, 37, 60);
     
        }

        h1 {
            margin: 0;
            padding: 0;
            font-family: $main-font;
            color: #FFFFFF;
            text-shadow: 5px 2px 1px #aba8a828;
            animation: shadow 10s ease-in-out infinite;

        }

        .card-ico {
            height: 60px;

            &:hover {

                animation: rotate 0.3s ease-in-out;

                @keyframes rotate {

                    25% {
                        transform: scale(1.1) rotate(25deg);
                    }

                    50% {
                        transform: scale(1.1) rotate(-25deg);
                    }

                    100% {
                        transform: scale(1.1) rotate(0deg);
                    }

                }
            }
        }
    }

}
.card-container .visible{
    transform: translateX(0);
    opacity: 1;
    }



@keyframes shadow {
    30% {
        text-shadow: 2px 5px 1px #aba8a828;
    }

    66% {
        text-shadow: -5px 3px 1px #aba8a828;

    }

    100% {
        text-shadow: 5px 2px 1px #aba8a828;

    }

}