.presentation {
    background-color: rgba(46, 36, 36, 0.479);
    padding: 100px 10vw 300px;
    display: flex;
    flex-direction: column;
    gap: 100px;

    p {
        font-family: $main-font ;
        font-size: 1.7rem;
        line-height: 1.5;

    }

    img {
        height: 20px;
        align-self: flex-end;
        justify-self: end;
    }
}
