nav {
    background: linear-gradient(0deg, rgba(40, 45, 45, 0.321) 7%, rgb(0, 0, 0) 100%);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 50;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 5px;

    ul {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: end;
        margin: 0 5% 0 0;
        gap: 5px;

    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 20px;
        font-size: 1em;

    }

    a {
        display: block;
        font-size: 1.5em;
        color: white;
        cursor: pointer;
        transition: transform 0.1s ease-in-out;

        &:hover {
            border-radius: 5px;
            color: rgb(0, 145, 255);
            text-shadow: 5px 5px 3px #aba8a838;
            color: #FFFFFF;
            background: #ffffff00;
            transform: scale(1.1);

        }

        &:hover {
            text-decoration: underline;
        }
    }
}




.container-icone-reseau {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;



    img {
        height: 25px;
        transition: transform 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }

    }
}