.projet {
    position: relative;
    height: 180px;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgb(13, 116, 184) 5px 5px 8px, rgb(13, 116, 184) 0px 0px 8px;
    user-select: none;
    padding: 15px 20px;
    max-width: 800px;
    opacity: 0;
    transition: height 0.3s ease-in-out;
    font-size: 1.5rem;
    background-color: #241f19;
    display: flex;
    flex-direction: column;

    p {
        width: 70%;
        font-size: 1.1rem;
        flex-grow: 1;
        padding: 6px;
    }

    .btn-savoir-plus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        padding: 10px;
        cursor: pointer;
        gap: 5px;
    }



    .title {
        color: white;
        text-shadow: 5px 5px 3px #aba8a838;
    }

    .img-projet {
        cursor: pointer;
        border-radius: 2px;
        position: absolute;
        width: 120px;
        height: 210px;
        transform: rotate(-10deg);
        margin-left: 50px;
        top: -20px;
        right: 50vw;
        box-shadow: rgb(13, 184, 44) 1px 1px 8px;
        transition: all 0.3s ease-in-out;
        animation: 1.5s ease-in-out 1s infinite shadowProjet;
        z-index: auto;
        object-fit: cover;

        &:hover {
            z-index: 500;
            transform: rotate(0deg) scale(2);
            box-shadow: none;
            animation: none;

        }
    }

    @keyframes shadowProjet {
        25% {
            box-shadow: rgba(13, 184, 44) 1px 1px 10px;
        }

        50% {
            box-shadow: rgb(13, 184, 44) 1px 1px 12px;
        }

        75% {
            box-shadow: rgb(13, 184, 44) 1px 1px 10px;
        }

        100% {
            box-shadow: rgb(13, 184, 44) 1px 1px 8px;
        }

    }

    .active {
        right: 30px;
    }

}

.plus-de-detail {
    height: 300px;
}

.projets {
    display: flex;
    flex-direction: column;
    padding: 100px 20px 0;
    clip-path: polygon(0 0, 50% 50px, 100% 0, 100% 100%, 0 100%);
    margin: -40px 0;
    padding-bottom: 200px;
    align-items: center;
    justify-content: space-around;
    gap: 150px;
    background-color: rgb(23, 22, 22);
    margin-top: -250px;
    padding-bottom: 350px;

    .active {
        opacity: 1;
    }

    .plus {
        cursor: pointer;
    }
}

.projet-container {
    padding: 5px;
    gap: 5px;

}

.projet-container-icone {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.savoir-plus {
    padding-top: 150px;
    display: flex;
    height: 100%;
    width: 70%;
    opacity: 0;
}

.btn-savoir-plus {
    width: 200px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
}

.titre {
    font-size: 2rem;
}

.icone {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 35%;
    padding: 1px;

    &:hover {

        animation: rotate 0.3s ease-in-out;

        @keyframes rotate {

            25% {
                transform: scale(1.1) rotate(25deg);
            }

            50% {
                transform: scale(1.1) rotate(-25deg);
            }

            100% {
                transform: scale(1.1) rotate(0deg);
            }

        }
    }
}