#projets {

    color: white;
    position: relative;
    z-index: 40;


}

.trait {
    content: "";
    width: 80px;
    height: 2px;
    background-color: white;
    background: white;
    transform: translateY(-6px);
}

.titre {
    gap: 5px;
    display: flex;
    align-items: end;
    justify-content: center;

    text-shadow: 5px 5px 3px #aba8a838;
    h2{

        align-self: center;
        padding-top:50px; 
    }
}