@media (max-width: 1268px) {
    h1 {
        font-size: 30px;
    }
    .Typewriter__wrapper {
        font-size: 1.1em;    
    }
    .avatar {
        height: 200px;
    }
    .dispo {
      p{
        font-size: 0.6em;    
      }
        margin-left: 50px;

        img {
            height: 12px;            
        }
    }
}