/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*{
	scroll-behavior: smooth;

}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;
	cursor: default;
	user-select: none;
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



@import './component/__Variable.scss';
@import './component/__Nav.scss';
@import './component/__Text.scss';
@import './component/__Video.scss';
@import './component/__Avatar.scss';
@import './component/__Apropos.scss';
@import './component/__Projet.scss';
@import './component/__Dispo';
@import './__MediaQuerry.scss';
@import './component/__Titre.scss';
@import './component/__Formulaire.scss';

body { 
	line-height: 1;
	font-family: $main-font;
	display: flex;
	background-color: #0a0f0f;
	color: $main-font-color;
}

#root {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	gap: 40px;
}

.cadre {
	border: 1px solid rgb(255, 215, 0);
	min-height: 350px;
	margin: 0 5%;
	height: calc(100vh - 130px);
	padding: 20px;

	border-radius: 10px;
	transform: skewY(-2deg);
	z-index: 30;
}

.cadre::before {
	position: absolute;
	display: block;
	content: "";
	transform: translate(-20px, -20px);
	margin: 40px;
	width: calc(100% - 80px);
	height: calc(100% - 80px);
	backdrop-filter: blur(10px);
	border-radius: 10px;
	z-index: -1;
	box-shadow: rgb(0, 0, 0) 0px 3px 8px;
}